body {
    font-family: helvetica, sans-serif;
    background-color: lavender;
}

h1 {
    font-family: "GFS Didot", serif;
}

.fab {
    display: block;
    padding-right: 15px;
}

.jumbotron {
    background-image: url("../images/Hero Image.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 600px;
}