body {
    font-family: helvetica, sans-serif;
    background-color: lavender;
}

h1, label, ::placeholder {
    font-family: "GFS Didot", serif;
}

.fab {
    display: block;
    padding-right: 15px;
}

.jumbotron {
    background-image: url("../images/lady-gaga-hero-image-2.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

